[project]
	description = Symphony Persistent emc Opentext Sapient
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lakshmikumar (kvklkumar)
[access "refs/for/refs/*"]
	read = group user/Lakshmikumar (kvklkumar)
	push = group user/Lakshmikumar (kvklkumar)
	label-Code-Review = -2..+2 group user/Lakshmikumar (kvklkumar)
	label-Verified = -1..+1 group user/Lakshmikumar (kvklkumar)
	rebase = group user/Lakshmikumar (kvklkumar)
	removeReviewer = group user/Lakshmikumar (kvklkumar)
	submit = group user/Lakshmikumar (kvklkumar)
[access "refs/heads/*"]
	read = group user/Lakshmikumar (kvklkumar)
	create = group user/Lakshmikumar (kvklkumar)
	push = +force group user/Lakshmikumar (kvklkumar)
	pushMerge = group user/Lakshmikumar (kvklkumar)
[access "refs/tags/*"]
	push = group user/Lakshmikumar (kvklkumar)
	push = +force group user/Lakshmikumar (kvklkumar)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[change]
	privateByDefault = true
[reviewer]
	enableByEmail = true
[submit]
	mergeContent = true
	matchAuthorToCommitterDate = true
